h1, h2 {
    text-align: center;
}

body {
    background-color: rgb(254, 254, 163);
    font-family:'Courier New', Courier, monospace;
}

ul {
    text-align: left;
}

li {
    color:rgb(64, 88, 88);
    margin-bottom: 8px;
    list-style-type: none;
}

a {
    color:rgb(64, 88, 88);
}

img {
    width: 400px;
    height: auto;
}

p {
    text-align: center;
}

.menu {
    background-color: rgb(190, 190, 250);
    padding: 16px;
    text-align: center;
    width: 400px;
    margin: auto;
}